

  <div class="card-group ">
    <div class="card text-white mx-2">
        <img class="card-img-top" src="../assets/images/cat-1.png" alt="Card image top">
        <div class="card-img-overlay">
            <h3 class="card-title">Shop By</h3>
            <h1 class="card-subtitle">Dry Fruits</h1>
            <p class="card-text"><a href="#">Shop Now<mat-icon>arrow_forward</mat-icon></a></p>
        </div>
    </div>
    <div class="card text-white mx-2">
        <img class="card-img-top" src="../assets/images/cat-2.png" alt="Card image top">
        <div class="card-img-overlay">
            <h3 class="card-title">Shop By</h3>
            <h1 class="card-subtitle">Whole Spices</h1>
            <p class="card-text"><a href="#">Shop Now<mat-icon>arrow_forward</mat-icon></a></p>
        </div>
    </div>
    <div class="card text-white mx-2">
        <img class="card-img-top" src="../assets/images/cat-3.png" alt="Card image top">
        <div class="card-img-overlay">
            <h3 class="card-title">Shop By</h3>
            <h1 class="card-subtitle">Spices & Masalas</h1>
            <p class="card-text"><a href="#">Shop Now<mat-icon>arrow_forward</mat-icon></a></p>
        </div>
    </div>
    <div class="card text-white mx-2">
        <img class="card-img-top" src="../assets/images/cat-4.png" alt="Card image top">
        <div class="card-img-overlay">
            <h3 class="card-title ">Shop By</h3>
            <h1 class="card-subtitle">Pulses & Dal</h1>
            <p class="card-text"><a href="#">Shop Now<mat-icon>arrow_forward</mat-icon></a></p>
        </div>
    </div>
  </div>