
<h1 class="heading">Shop You Daily Requirements</h1>
<div class="card-group ">
  <div class="card text-white mx-2">
      <img class="card-img-top " src="../assets/images/req1.png" alt="Card image top">
      <div class="card-img-overlay" style="margin-top: -50%;">
          
          <h1 class="card-subtitle">Turmeric</h1>
          <p class="card-text"><a href="#">Shop Now<mat-icon>arrow_forward</mat-icon></a></p>
      </div>
      <div class="card text-white mt-4">
          <img class="card-img-top " src="../assets/images/req2.png" alt="Card image top">
          <div class="card-img-overlay opacitycss ">
              
              <h1 class="card-subtitle">Ginger</h1>
              <p class="card-text"><a href="#">Shop Now<mat-icon>arrow_forward</mat-icon></a></p>
          </div>
      </div>
  </div>
 
  <div class="card text-white mx-2">
      <img class="card-img-top" src="../assets/images/req3.png" alt="Card image top">
      <div class="card-img-overlay opacitycss">
         
          <h1 class="card-subtitle">Mustard Seeds</h1>
          <p class="card-text"><a href="#">Shop Now<mat-icon>arrow_forward</mat-icon></a></p>
      </div>
  </div>
  <div class="card text-white mx-2">
      <img class="card-img-top" src="../assets/images/req4.png" alt="Card image top">
      <div class="card-img-overlay opacitycss">
          
          <h1 class="card-subtitle">Chik peas</h1>
          <p class="card-text"><a href="#">Shop Now<mat-icon>arrow_forward</mat-icon></a></p>
      </div>
  </div>
</div>