<header>

    
  
  <!-- Navbar -->
  <mdb-navbar SideClass="navbar navbar-toggleable-md  double-nav"
              [containerInside]="false">

      <!-- SideNav slide-out button -->
      <div class="ml-4 mb-2">
        <a  class="button-collapse-non-fixed hidden-nav mx-0">
          <img src="../assets/images/fem-logo.png" alt="logo">
        </a>
      </div>
    
      <br>
      <br>
      <form class="d-flex input-group text-light ">
          <input type="search" class="form-control text-light" placeholder="Search for Product.." aria-label="Search" />

      </form>
<br>
<br>
  

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
          
        <li class="nav-item mr-4 text-center">
          <a class="nav-link waves-light" mdbWavesEffect>
            <mat-icon>favorite</mat-icon>
           
          </a>
          <!-- <span class="clearfix d-none d-sm-inline-block ">Wishlist</span> -->
        </li>
        <li class="nav-item mr-4 text-center">
          <a routerLink= "cart" class="nav-link waves-light" mdbWavesEffect style="text-decoration: none; color: white;">
             
            <mat-icon>shopping_cart</mat-icon>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
          </a>
          <!-- <span class="clearfix d-none d-sm-inline-block text-center">Cart</span> -->
        </li>
        <li class="nav-item dropdown btn-group mr-4" dropdown>
          <a dropdownToggle type="button" class="nav-link waves-light" mdbWavesEffect>
            <mat-icon>person</mat-icon>
            <!-- <span class="clearfix d-none d-sm-inline-block ">Menu</span> -->
          
          </a>
          
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" routerLink="login">Login</a>
            <a class="dropdown-item" routerLink="signup">SignUp</a>
            
          </div>
          

          
            
            
            
          
        </li>
        <li class="nav-item dropdown btn-group mr-4" dropdown>
          <a dropdownToggle type="button" class="nav-link waves-light" mdbWavesEffect>
            <mat-icon>reorder</mat-icon>
            <!-- <span class="clearfix d-none d-sm-inline-block ">Menu</span> -->
          
          </a>
          
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" routerLink="/">home</a>
            <a class="dropdown-item" href="#">About Us</a>
            <a class="dropdown-item" href="#">Contact Us</a>
          </div>
          
         
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->

</header>











<router-outlet></router-outlet>

<footer class=" text-lg-start text-center  text-white" style="background-color: #435C46 ; opacity: 0.88;">
 
  <div class="container footmain">

      <div class="row ">
   
        <div class="col-lg-4 col-md-12 mb-4  footerlogo">
            
           <img class="imgbox mt-3 mb-3" src="../../assets/img/logo.svg">
        </div>
      

      <div class="col-lg-8 col-md-12 mb-4 mt-3 ">
          <div class="row justify-content-center mb-4 tbhead  ">
              Sitemap
          </div>
          <div class="row ">
              <div class="col-lg-3 col-md-6 mb-4 ">
                  <p class="tbhead">Catogories</p>
      
                  <ul class="list-unstyled mb-0 opct tbdata ">
                    <li class="mb-2">
                      <a href="#!" class="text-white ">Dry Fruits</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Whole Spices</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Spices and Masalas</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Pulses and Dals</a>
                    </li>
                  </ul>
                </div>
            
      
           
                <div class="col-lg-3 col-md-6 mb-4 ">
                  <p class="tbhead">Useful Links</p>
      
                  <ul class="list-unstyled mb-0 opct tbdata">
                    <li class="mb-2">
                      <a href="#!" class="text-white">About Us</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Shipping & Returns</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Refund Policy</a>
                    </li>
                  
                  </ul>
                </div>
            
      
           
                <div class="col-lg-3 col-md-6 mb-4 ">
                  <p class="tbhead">Customer service</p>
      
                  <ul class="list-unstyled mb-0 opct tbdata">
                    <li class="mb-2">
                      <a href="#!" class="text-white">Orders</a>
                  </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Downloads</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Addresses</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Account details</a>
                    </li>
                  </ul>
                </div>
             
      
          
                <div class="col-lg-3 col-md-6 mb-4 ">
                  <p class="tbhead">Contact Us</p>
      
                  <ul class="list-unstyled mb-0 opct tbdata">
                    <li class="mb-2">
                      <a href="#!" class="text-white">+91 8733499091</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">noreply@familyemart.com</a>
                    </li>
              
                  </ul>
                </div>
          </div>
        
      </div>
  </div>
  </div>
</footer>