

  <div class="card-group ">
    <div class="card text-white text-center mx-2">
        <img class="card-img-top" src="../assets/images/offer1.png" alt="Card image top">
        <div class="card-img-overlay">
            <h3 class="card-title">Upto 10% Off</h3>
            <h1 class="card-subtitle">Dry Fruits</h1>
         <div>  <a href="#" mdbBtn class="btn btn-light btn-sm" mdbWavesEffect>Buy Now</a></div> 
        </div>
    </div>
    <div class="card text-white text-center mx-2">
        <img class="card-img-top" src="../assets/images/offer2.png" alt="Card image top">
        <div class="card-img-overlay">
            <h3 class="card-title">Upto 10% Off</h3>
            <h1 class="card-subtitle">Whole Spices</h1>
           <div> <a href="#" mdbBtn class="btn btn-light btn-sm" mdbWavesEffect>Buy Now</a></div>
            </div>
    </div>
    <div class="card text-white text-center mx-2">
        <img class="card-img-top" src="../assets/images/offer3.png" alt="Card image top">
        <div class="card-img-overlay ">
            <h3 class="card-title">Upto 10% Off</h3>
            <h1 class="card-subtitle">Spices & Masalas</h1>
          <div>  <a href="#" mdbBtn class="btn btn-light btn-sm" target="_blank" mdbWavesEffect>Buy Now</a></div>
             </div>
    </div>
   
  </div>