.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.507);
    
}

img{
    background: black(0.5);
   
    
}
.card-group{
    background: #F0F3F3;
    padding: 40px;
}
h1{
    
    font-weight: 600;
    font-size: xx-large;
}


