<home-banner></home-banner>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="pic "><img src="../../assets/img/diet.png" class="img-responsive center-block d-block mx-auto"></div>
        <div class=" text-center"><h3 class="des">High nutritional Value</h3></div></div>
    <div class="col-lg-3 col-md-6 mb-4">
         <div class="mb-4"><img src="../../assets/img/chemical-free.png" class="img-responsive center-block d-block mx-auto"></div>
    <div class="des text-center"><h3 class="des">No chemicals & pesticide</h3></div></div>
    <div class="col-lg-3 col-md-6 mb-4"> 
        <div class="mb-4"><img src="../../assets/img/search.png" class="img-responsive center-block d-block mx-auto"></div>
    <div class="des text-center"><h3 class="des">Hight Quality checking</h3></div></div>
    <div class="col-lg-3 col-md-6 mb-4">
         <div class="mb-4"><img src="../../assets/img/vegan.png" class="img-responsive center-block d-block mx-auto"></div>
    <div class="des text-center"><h3 class="des">Certified & Trusted sources</h3></div></div>
  </div>
</div>

<shopbycategory></shopbycategory>
<toppickforyou></toppickforyou>
<weeklydeals></weeklydeals>
<offers></offers>
<testimonial></testimonial>
<dailyrequirments></dailyrequirments>
<dryfruitsdeals></dryfruitsdeals>
