

<h1 class="heading">Hot dry fruit deals</h1>
<div class="card-group ">
  <div class="card text-white  mx-2">
      <img class="card-img-top" src="../assets/images/hdfd1.png" alt="Card image top">
      <div class="card-img-overlay">
        <h4 class="card-title">Almonds</h4>
        <p class="card-subtitle">Lorem ipsum dolor sit amet</p>
       <div>  <a href="#" mdbBtn class="btn btn-light btn-sm" mdbWavesEffect>150 Rs - Per kg</a></div> 
      </div>
  </div>
  <div class="card text-white  mx-2">
    <img class="card-img-top" src="../assets/images/hdfd2.png" alt="Card image top">
    <div class="card-img-overlay">
      <h3 class="card-title"> Raisins </h3>
      <p class="card-subtitle">Lorem ipsum dolor sit amet</p>
     <div>  <a href="#" mdbBtn class="btn btn-light btn-sm" mdbWavesEffect>150 Rs - Per kg</a></div> 
    </div>
</div>
  <div class="card text-white  mx-2">
      <img class="card-img-top" src="../assets/images/hdfd3.png" alt="Card image top">
      <div class="card-img-overlay">
        <h4 class="card-title">Pistachio</h4>
        <p class="card-subtitle">Lorem ipsum dolor sit amet</p>
         <div> <a href="#" mdbBtn class="btn btn-light btn-sm" mdbWavesEffect>150 Rs - Per kg</a></div>
          </div>
  </div>
  <div class="card text-white mx-2">
      <img class="card-img-top" src="../assets/images/hdfd4.png" alt="Card image top">
      <div class="card-img-overlay ">
          <h4 class="card-title">Cashews</h4>
          <p class="card-subtitle">Lorem ipsum dolor sit amet</p>
        <div>  <a href="#" mdbBtn class="btn btn-light btn-sm" mdbWavesEffect>150 Rs - Per kg</a></div>
           </div>
  </div>
 
</div>